* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
     font-family: Verdana, Tahoma, sans-serif;
}

#main {
    
}

.mrl-0px {
    margin-right: 0px;
    margin-left: 0px;
}
.row {
    overflow: hidden;
    margin-left: 157px;
   margin-right: 157px;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.mt-16px {
    margin-top: 16px;
}
.m-right-left {
    margin-right: -8px;
    margin-left: -8px;
}
.p-right-left {
    padding-right: 8px;
    padding-left: 8px;
}
.lh-15 {
     line-height: 1.5;
}
.font-size-15px {
    font-size: 15px;
}

/*Header*/
#header { padding-top: 0px;
          width: 100%;
          height: 46px;
          background-color: black !important;
          line-height: 46px;
          position: fixed;
          border: none;
}

#nav {
    display: inline-block;
}

#nav > li {  
    display: inline-block;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
    padding: 0px 24px;
}

#nav li a { 
    text-decoration: none;
}

#nav > .nav-down {
    color: white;
    font-size: 12px;
}

#nav > li:hover > a {
    background-color: #ccc; 
    display: block;
    height: 46px;
    color: black;
}

.subnav {
    background-color: white;
    line-height: 38px;
    position: absolute;
    display: none;
}
#nav li:hover .subnav {
    display: block;
    color: black;
}

#nav .subnav {
     position: absolute;
     display: none;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: black;
    padding: 8px 16px;
}

.subnav > li:hover > a {
    background-color: #ccc;
    display: block;
    padding: 8px 16px;
    color: black;
}
#nav, .subnav {
    list-style-type: none;
}
#header .search {
    position: relative;
}
#header .search-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 20px;
    padding: 8px 16px;
    position: relative;
    margin-top: -41px;
    right: 0px;
    position: absolute;
}
#header .search-btn:hover {
    cursor: pointer;
    background-color: rgb(247, 67, 67);
}

.menu-mobile {
    display: block;
    float: right;
    position: relative;
    bottom: 230px;
    
}

#header .menu-mobile .menu-icon {
    color: #fff;
    font-size: 15px;
    padding: 16px 15px;
}

#header .menu-mobile:hover {
    
}

#header .menu-mobile .menu-icon:hover {
    background-color: rgb(145, 145, 145);
     color: black;
}

.text-main { 
    margin-top: -160px;
    width: 100%;
    text-align: center;
}
.text-main .text-bot {
       margin: 15px 0px;
       text-shadow: 0 0 1 white;
}
/*Content*/

#slide1 {
    overflow: hidden;
    width: 100%;
    
}
/*Content*/
#content {
    display: inline-block;
}
#content-text {
    width: 800px;
    width: 100%;
    padding: 64px 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 13px;
}
#content-text > .textmain {
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px 0px;
}
#content-text > .textp {
    font-size: 15px;
    text-align: center;
    opacity: 0.6;
    font-style: italic;
    margin: 15px 0px;
}
#text-content {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}
#member-list {
    overflow: hidden;
    margin-bottom: 64px;
}
#content-text .member-items {
     float: left;
     width: calc(100% / 3);
     text-align: center;
}
#content-text .member-name {
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 48px;
}
#content-text .member-img {
    width: 154px;
    border-radius: 4px;
}
/*Tour*/
#tour {
    background-color: black;
    height: 100%;
    overflow: hidden;
}
#content-tour > .textmain {
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px 0px;
}
.textp {
    font-size: 15px;
    text-align: center;
    opacity: 0.6;
    font-style: italic;
    margin: 15px 0px;
    position: initial;
}
#content-tour {
      color: white;
}
#tour .tour-section {
   background-color: #fff;
   margin-top: 40px;
   color: #757575;
   margin-left: 165px;
   margin-right: 165px;
   list-style: none;
}
#tour .tour-section1 {
    font-size: 15px;
   padding: 8px 16px;
   border-bottom: 1px solid #ddd;
}
#tour .soldout {
    margin-left: 16px;
    background-color: #f44336;
    padding: 0px 8px;
    color: white;
}
#tour .number {
    float: right;
    background: black;
    margin-right: 16px;
    padding: 4px 8px;
    border-radius: 50%;
    color: white;
    margin-top: -3px;
}


/*Places*/
#contact {
      padding: 64px 0;
}
#content-contact > .textmain {
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px 0px;
}
#content-contact .textp {
    font-size: 15px;
    text-align: center;
    opacity: 0.6;
    font-style: italic;
    margin: 15px 0px; }
/*Places1*/
#places {
    overflow: hidden;
    margin-left: 157px;
   margin-right: 157px;
}
.places-img {
    width: 100%;
    display: block;
    height: 184px;
}

.places-body {
    float: left;
    width: calc(100% / 3);
    padding: 32px 8px;
}
.places-content {
    background-color: white;
    display: inline-block;
    padding: 0 16px 20px 16px;
}
.places-name {
    font-size: 15px;
    font-weight: 600;
    margin: 15px 0;
}
.places-time {
    font-size: 15px;
    opacity: 0.6;
    margin-bottom: 15px;
}
.places-p {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 15px;
}
.places-btn {
    font-size: 15px;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 9px 16px;
    margin-top: 20px;
    border: none;
}
.places-btn:hover {
    background-color: #ccc;
    color: black;
}
/*Modal*/
.modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open {
    display: flex;
}
.modal .modal-container {
    position: relative;
    background: #fff;
    width: 900px;
    min-height: 200px;
    animation: modalFadeIn ease .5s;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px 16px;
}
.modal-close:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.modal-header {
    background: #009688;
    font-size: 30px;
    color: #fff;
    padding: 32px 64px;
    display: block;
    align-items: center;
    justify-content: center;
}

#modal .ti-bag {
    margin-right: 16px;
}

.modal-input {
    display: block;
}

.modal-body {
    padding: 15px 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    padding-bottom: 15px;
}

.modal-input {
    width: 100%;
    line-height: 23px;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
#pay-btn {
    background-color: #009688;
    font-size: 15px;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 16px;
    border: none;
}
#pay-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.modal-footer {
    
    text-align: right;
    padding: 16px;
    margin: 15px 0px;
}
.modal-footer a {
    color: #2196F3;
}
@keyframes modalFadeIn {
    from {
      transform: translateY(-100px);
      opacity: 0.7;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
}
/*Contact*/
.contact-from {
    overflow: hidden;
    padding: 32px 0px;
}

.from-contact {
    
}

.icon-contact {
    display: inline-block;
    margin-right: 10px;
}

.form-text {
    margin-top: -70px;
    float: right;
    overflow: hidden;
    
}

.form {
    font-size: 15px;
    padding: 5px;
}

.form-send-btn {
    background-color: black;
    color: white;
    border: none;
    font-size: 1;
    font-size: 15px;
    padding: 10px 16px;
    margin: 16px 0px;
    float: right;
    display: block;
}
.btn-send-fix {
    
}

.form-send-btn:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.email-form {

}

.form-mess {
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 5px;
}

.up-form {
    margin-bottom: 8px;
}
/*Map*/
.map {
    width: 100%;
}
/*Footer*/
#footer {
    padding: 64px 16px;
    text-align: center;
    opacity: 0.6;
}
.p-footer {
    margin: 15px 0px;
    font-size: 15px;
    color: black;

}
.icon-footer a {
    color: black;
    text-decoration: none;
}

.icon-footer {
    font-size: 20px;
}

.icon-footer a:hover {
    cursor: pointer;
    opacity: 0.8;
}